
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >Sithec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/posts']">Posts <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Usuario ID" aria-label="Search" #searchUser (keyup.enter)="searchUserId(searchUser.value)">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="searchUserId(searchUser.value)">Buscar</button>
      </form>
      <button class="btn btn-outline-light m-4 my-sm-0" (click)="exit()" *ngIf="flagUser"  type="submit" >Cerrar Sesion</button>
    </div>
  </nav>